<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Friends</key>
	<string>watch-5153-Friends</string>
	<key>Big Bang Theory</key>
	<string>watch-9594-The-Big-Bang-Theory</string>
	<key>Modern Family</key>
	<string>watch-18878-Modern-Family</string>
	<key>How I Met Your Mother</key>
	<string>watch-6147-How-I-Met-Your-Mother</string>
	<key>24</key>
	<string>watch-4125-24</string>
	<key>24: Live Another Day</key>
	<string>watch-2745473-24-Live-Another-Day</string>
	<key>Arrow</key>
	<string>watch-2735251-Arrow</string>
	<key>Breaking Bad</key>
	<string>watch-2742853-Breaking-Bad</string>
	<key>White Collar</key>
	<string>watch-26774-White-Collar</string>
	<key>Scrubs</key>
	<string>watch-5206-Scrubs</string>
</dict>
</plist>
